/deep/ .el-dialog {
    // top: 0!important;
    bottom: 0 !important;
    left: 0 !important;
    right: 0 !important;
    margin: 0 auto !important;
    top: 50% !important;
    transform: translateY(-50%);
  }